@font-face {
  font-family: "iconfont"; /* Project id 2892828 */
  src: url('iconfont.woff2?t=1646751225425') format('woff2'),
       url('iconfont.woff?t=1646751225425') format('woff'),
       url('iconfont.ttf?t=1646751225425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-liuyan:before {
  content: "\e614";
}

.icon-xiaoxitongzhi:before {
  content: "\ec35";
}

.icon-fabiaowenzhang:before {
  content: "\e648";
}

.icon-yonghuliebiao:before {
  content: "\e7f1";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-quanping:before {
  content: "\ec13";
}

.icon-dengchu:before {
  content: "\eb45";
}

